*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9CC0C3;
}

.containerBody>img{
    width: 280px;
}