* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.containerPage {
  display: flex;
  width: 100%;
  height: 100%;
}

.right {
  flex: 1;
  background-color: #9CC0C3;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}

.right img {
  max-width: 80%;
  height: auto;
}

.left {
  flex: 1;
  background-color: #217178;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTitle {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #217178;
}

.containerTitle > h4 {
  font-size: 20px;
  color: white;
}

.containerInputLogin {
  width: 346px;
  height: 350px;
  display: flex;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.containerInput {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background-color: #9CC0C3;
}

.containerInput img {
  margin: 0 10px;
}

.containerButton {
  display: flex;
  align-items: center;
  flex-direction: row;
}

input {
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #9CC0C3;
  padding-left: 10px;
}

input::placeholder {
  color: black;
  font-weight: bold;
}

input:focus {
  outline: none;
}

button {
  width: 130px;
  height: 30px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #9CC0C3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#login {
  width: 115px;
}

#signup {
  width: 120px;
}